pkgbase = silver-messenger-bin
	pkgdesc = End-to-end encrypted messaging in your terminal: the client and the relay
	pkgver = 0.10.0
	pkgrel = 1
	url = https://github.com/IAmForeverAloneToo/Silver-Messenger
	arch = x86_64
	arch = aarch64
	license = AGPL-3.0-only
	provides = silver-messenger
	conflicts = silver-messenger
	options = !strip
	source = silver-relay-0.10.0.service::https://github.com/IAmForeverAloneToo/Silver-Messenger/raw/v0.10.0/deploy/silver-relay.service
	source = silver-messenger.sysusers
	sha256sums = 18d9f4e33ac689a634e0d33ad56af3373934d366f52164a7f16f57211257dd90
	sha256sums = 8bb8f2bbe65eac4a8fbb88d287e2933057044773c0ee2dd47d0255f01f2c84f8
	source_x86_64 = https://github.com/IAmForeverAloneToo/Silver-Messenger/releases/download/v0.10.0/silver-messenger-v0.10.0-x86_64-unknown-linux-musl.tar.gz
	sha256sums_x86_64 = c02625734d15d3a5a6a23f05300a4a78b8a74ce5890392e2b831b294229e7fbb
	source_aarch64 = https://github.com/IAmForeverAloneToo/Silver-Messenger/releases/download/v0.10.0/silver-messenger-v0.10.0-aarch64-unknown-linux-musl.tar.gz
	sha256sums_aarch64 = 0fef095b6a552707e90537cf8ec34b3b12208ab71a967f5f9393e88c3c75a323

pkgname = silver-messenger-bin
