pkgbase = silver-messenger-bin
	pkgdesc = End-to-end encrypted messaging in your terminal: the client and the relay
	pkgver = 0.10.1
	pkgrel = 1
	url = https://github.com/IAmForeverAloneToo/Silver-Messenger
	arch = x86_64
	arch = aarch64
	license = AGPL-3.0-only
	provides = silver-messenger
	conflicts = silver-messenger
	options = !strip
	source = silver-relay-0.10.1.service::https://github.com/IAmForeverAloneToo/Silver-Messenger/raw/v0.10.1/deploy/silver-relay.service
	source = silver-messenger.sysusers
	sha256sums = 18d9f4e33ac689a634e0d33ad56af3373934d366f52164a7f16f57211257dd90
	sha256sums = 8bb8f2bbe65eac4a8fbb88d287e2933057044773c0ee2dd47d0255f01f2c84f8
	source_x86_64 = https://github.com/IAmForeverAloneToo/Silver-Messenger/releases/download/v0.10.1/silver-messenger-v0.10.1-x86_64-unknown-linux-musl.tar.gz
	sha256sums_x86_64 = 72833bdfcdfdb67701c3e38778fba948a61ab423bd6c7a5d845695eea5babc69
	source_aarch64 = https://github.com/IAmForeverAloneToo/Silver-Messenger/releases/download/v0.10.1/silver-messenger-v0.10.1-aarch64-unknown-linux-musl.tar.gz
	sha256sums_aarch64 = a6aeb42de15c612c449340b0f50ad65d18a5b5d6ed789cd37f4da43e2ce9a75c

pkgname = silver-messenger-bin
